<% include partials/header %>

<div class="container">
    <h1>Foody App</h1>
    <h1><%= title %></h1>

    <ul>
        <% food.forEach(function (food) { %>
            <li>
                <%= food.food_name %> 
                <%= food.description %>
                <a href="#" class="updateFood" data-id="<%= food._id %>">Update</a>
                <a href="#" class="deleteFood" data-id="<%= food._id %>">Delete</a>
            </l1>
            <ul>
                <li>Category: <%= food.category %></li>
                <li>Serving Size: <%= food.serving %></li>
                <li>Units: <%= food.units %></li>
                <li>Calories: <%= food.calories %></li>
                <li>Meal: <%= food.meal %></li>
            </ul>
        <% }) %>
    </ul>

    <h2>Add Food</h2>

    <% if (errors != undefined) { %>
        <ul>
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>

    <form method="POST" action="/foods/add">
        <div class="form-group">
            <label for="food_name">Food Name</label>
            <input type="text" name="food_name" id="food_name" placeholder="Food">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" placeholder="Description">
        </div>

        <div class="form-group">
            <label for="serving">Serving Size</label>
            <input type="text" name="serving" id="serving" placeholder=“serving”>
        </div>

        <div class="form-group">
            <label for="units">Units</label>
            <input type="text" name="units" id="units" placeholder="grams">
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <input type="text" name="category" id="category" placeholder="Food Category">
        </div>

        <div class="form-group">
            <label for="calories">Calories</label>
            <input type="text" name="calories" id="calories" placeholder="Calories">
        </div>

        <div class="form-group">
            <label for="meal">Meal</label>
            <input type="text" name="meal" id="meal" placeholder="Time">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<% include partials/footer %>
